[Unit]
Description=TrixieKeys Key Events Substitutor
After=systemd-udev-settle.service

[Service]
Type=forking
ExecStart=/usr/bin/bash -c '/usr/bin/trixiekeys "$(cat /etc/trixiekeys_keyboard_name)"'

[Install]
WantedBy=multi-user.target
